<%= form_with(model: animal) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.date_select :purchase_date %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :animal_type %>
    <%= form.text_field :aanimal_type %>
  </div>
   
   <div class=field id=animal_foods>
      <h3> Selec foods for this animal </h3>

      <%= form.fields_for :animal_foods do |food_form| %>
          <%= render "animal_food_fields", f: food_form %>
       <% end %> 

      <%= link_to_add_association "add another food", form, :animal_foods %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
