        
<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<table class="table table-striped table-bordered table-hover">
<thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th>Purchase date</th>
      <th>Weight</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.dob %></td>
        <td><%= animal.purchase_date %></td>
        <td><%= animal.weight %></td>
        <td><%= animal.description %></td>
        <td><%= animal.animal_type %></td>
        <td><%= link_to "Show", animal,class:"btn btn-success" %></td>
        <td><%= link_to "Edit", edit_animal_path(animal),class:"btn btn-warning" %></td>
        <td><%= link_to "Destroy", animal, method: :delete,class:"btn btn-danger", data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Animal", new_animal_path,class:"btn btn-secondary" %>
