<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Stock</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.calories %></td>
        <td><%= food.stock %></td>
        <td><%= food.food_type %></td>
        <td><%= link_to "Show", food,class:"btn btn-success" %></td>
        <td><%= link_to "Edit", edit_food_path(food),class:"btn btn-warning" %></td>
        <td><%= link_to "Destroy", food, method: :delete,class:"btn btn-danger", data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Food", new_food_path, class:"btn btn-secondary" %>
