<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @room.area %>
</p>

<p>
  <strong>Type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>


<h3> Animals in this room </h3>
<% @room.animals.each do |a| %>
 <p><%= link_to a.name, animal_path(a) %> </p>
<% end %>
<%= link_to "Edit", edit_room_path(@room) %> |
<%= link_to "Back", rooms_path %>
